@media (min-width: 1475px) {
    main.page {
        padding-left: 0 !important;
    }
}

@media (max-width: 1475px) {
    .sidebar {
        width: 15em;
    }

    .page {
        padding-left: 15em;

        >* {
            margin: 0 !important;
        }
    }
}

@media (max-width: 1430px) {
  .theme-default-content {
    max-width: 550px !important;
  }
}
